<%- include('./layouts/header') -%>

    <section class="side__nav">
        <div class="d-flex flex-row">
            <div class="side__bar">
                <ul class="navbar-nav flex-grow-1 pt-2 justify-content-center text-center">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#">
                            <img src="images/Rectangle 63.png" alt="" srcset="">
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <img src="images/fi_home.png" alt="">
                            <p>Dashboard</p>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/">
                            <img src="images/fi_truck.png" alt="">
                            <p>Cars</p>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="main__section">
                <nav class="navbar navbar-expand-lg bg-body-tertiary">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="#">
                            <img src="images/Rectangle 62.png" alt="">
                        </a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link" aria-current="page" href="#">
                                        <img src="images/fi_menu.png" alt="">
                                    </a>
                                </li>
                            </ul>
                            <div class="d-flex ">
                                <form class="d-flex" role="search">
                                    <input class="form-control " type="search" placeholder="Search" aria-label="Search">
                                    <button class="btn btn-outline-success" type="submit">Search</button>
                                </form>
                                <ul class="navbar-nav dropdown__profile">
                                    <li class="nav-item dropdown">
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                <img class="pe-2" src="images/Group 15.png" alt=""> Unis Badri
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#">Action</a></li>
                                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                                <li>
                                                    <hr class="dropdown-divider">
                                                </li>
                                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                                            </ul>
                                        </li>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>
                <div class="d-flex">
                    <div class="cars">
                        <ul class="navbar-nav flex-grow-1 pt-2 text-left">
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <p>CARS</p>
                                </a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="#">
                                    <p>List Car</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="content">
                        <div class="container">
                            <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">Cars</a></li>
                                    <li class="breadcrumb-item"><a href="#">List Car</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Add New Car</li>
                                </ol>
                            </nav>
                            <div class="d-flex justify-content-between">
                                <h5>
                                    Add New Car
                                </h5>
                            </div>

                            <form action="/add" method="POST" enctype="multipart/form-data">
                                <div class="bg__white mt-2">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="row align-items-center">
                                                <div class="col-lg-4">
                                                    <p>Nama<i style="color: #FA2C5A;">*</i></p>
                                                </div>
                                                <div class="col-lg-8">
                                                    <input name="name" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Avanza" required>
                                                </div>
                                            </div>
                                            <div class="row align-items-center mt-3">
                                                <div class="col-lg-4">
                                                    <p>Sewa Per Hari<i style="color: #FA2C5A;">*</i></p>
                                                </div>
                                                <div class="col-lg-8">
                                                    <input name="price" type="number" class="form-control" id="exampleFormControlInput1" placeholder="Rp 0,-" required>
                                                </div>
                                            </div>
                                            <div class="row align-items-center mt-3">
                                                <div class="col-lg-4">
                                                    <p>Ukuran<i style="color: #FA2C5A;">*</i></p>
                                                </div>
                                                <div class="col-lg-8">
                                                    <select name="category" class="form-select" aria-label="Default select example" required>
                                                        <option value="small" selected>Small</option>
                                                        <option value="medium">Medium</option>
                                                        <option value="large">Large</option>
                                                      </select>
                                                </div>
                                            </div>
                                            <div class="row mt-3">
                                                <div class="col-lg-4">
                                                    <p>Foto<i style="color: #FA2C5A;">*</i></p>
                                                </div>
                                                <div class="col-lg-8">
                                                    <input type="file" class="form-control" id="image" name="image" accept="image/*" required>
                                                    <small>File size max. 2MB</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="d-flex button__down">
                                    <button class="btn button__secondary me-3">Cancel</button>
                                    <button class="btn button__primary me-3">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js " integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3 " crossorigin="anonymous "></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js " integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD " crossorigin="anonymous "></script>
    </body>

    </html>